<p>courses works!</p>

<h1>Available All Courses</h1>

<ol class="list-group list-group-numbered">
  <li class="list-group-item">JavaScript</li>
  <li class="list-group-item">Python</li>
  <li class="list-group-item">Java</li>
  <li class="list-group-item">Php</li>
  <li class="list-group-item">C#</li>
  <li class="list-group-item">Laravel</li>
  <li class="list-group-item">Angular</li>
</ol>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia consectetur eaque atque quibusdam magnam blanditiis odio. Nam, doloremque sunt? Quod, amet recusandae quibusdam eum facere architecto animi corrupti possimus totam.
