<p>courses-details works!<button type="button" class="btn btn-danger" (click)="close()">X</button>
</p>
<h2>Course Details</h2>
<ol class="list-group list-group-numbered">

  <li class="list-group-item">JavaScript
    <table >
      <tr >
        <th>Duration</th>
        <th>fees</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>6 months</td>
        <td>5000 INR</td>
        <td> learn Javascript from scratch</td>
      </tr>
    </table>
  </li>
  
    
  <li class="list-group-item">Python
    <table>
      <tr>
        <th>Duration</th>
        <th>fees</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>6 months</td>
        <td>5000 INR</td>
        <td> learn Python from scratch</td>
      </tr>
    </table>
  </li>
 
    
  <li class="list-group-item">Java
    <table>
      <tr>
        <th>Duration</th>
        <th>fees</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>6 months</td>
        <td>5000 INR</td>
        <td> learn Java from scratch</td>
      </tr>
    </table>
  </li>
  

  <li class="list-group-item">Php
    <table>
      <tr>
        <th>Duration</th>
        <th>fees</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>6 months</td>
        <td>5000 INR</td>
        <td> learn Php from scratch</td>
      </tr>
    </table>
  </li>
   

  <li class="list-group-item">C#
    <table>
      <tr>
        <th>Duration</th>
        <th>fees</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>6 months</td>
        <td>5000 INR</td>
        <td> learn C# from scratch</td>
      </tr>
    </table>
  </li>
 

  <li class="list-group-item">Laravel
    <table>
      <tr>
        <th>Duration</th>
        <th>fees</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>6 months</td>
        <td>5000 INR</td>
        <td> learn laravel from scratch</td>
      </tr>
    </table>
  </li>

  
  <li class="list-group-item">Angular
    <table>
      <tr>
        <th>Duration</th>
        <th>fees</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>6 months</td>
        <td>5000 INR</td>
        <td> learn Angular from scratch</td>
      </tr>
    </table>
  </li>
  
</ol>
