<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="home" >Home</a>
    <a class="navbar-brand"  routerLink="about">About</a>
    <a class="navbar-brand"  routerLink="contact" >Contact </a>
    <a class="navbar-brand"  routerLink="employees">Employees</a>
    <a class="navbar-brand"  routerLink="products">Products</a>
    <a class="navbar-brand"  routerLink="courses">Courses</a>
    <a class="navbar-brand"  [routerLink]="[{outlets:{course_details:['courseDetails']}}]">CoursesDetails</a>
    <a class="navbar-brand"  [routerLink]="[{outlets:{course_details2:['courseDetails2']}}]">CoursesDetails2</a>
    <a class="navbar-brand"  routerLink="user-details">UserDetails</a>



  </div>
  </nav>




<h1>ROUTING DEMO ANGULAR</h1>

<!-- <a routerLink="home" class="button">Home</a>
<a routerLink="about" class="button">About</a>
<a routerLink="contact" class="button">Contact </a>
<a routerLink="employees" class="button">Employees</a>
<a routerLink="products" class="button">Products</a> -->
<!-- <a routerLink="tshirts" class="button">Tshirts</a>
<a routerLink="trousers" class="button">Trowsers</a> -->





  <router-outlet></router-outlet>
  <router-outlet name="course_details"></router-outlet>
  <router-outlet name="course_details2"></router-outlet>


