<p>products works!</p>
<h1>All Products Display Here  </h1>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia excepturi impedit, provident reiciendis error voluptates amet tempora delectus mollitia illo maiores harum, nesciunt placeat natus ex. Earum, ducimus? Perferendis, a?

<br>
<a routerLink="tshirts" (click)="showTshirts()" class="btn btn-primary">T-Shirts </a>
&nbsp;
<a routerLink="trousers" (click)="showTrousers()" class="btn btn-primary">Trousers</a>

<router-outlet></router-outlet>

