/* You can add global styles to this file, and also import other style files
body{
  color: rgb(89, 209, 85);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #16a8a1;


} */


